html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /* line-height: 1.6;
  font-size: 1.4em; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* dernière version - maintenant in Home.module */
/*  
a:hover {
    text-decoration: underline;
  }

 img {
    max-width: 100%;
    display: block;
  } */