/*  styles  for the main elements, same on every page*/

.container {
    max-width: 90%;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #66bdFF;
    color:#8C1B19;
    width:106%; 
    
  }
  .header a {
      background-color: white;
      padding:0.5rem 0.7rem;
      margin:0.1rem;
      border-bottom: 1px solid #3366CC;
      color:rgb(180,0,0);
      font-weight: 500;
  }

  .header a:hover {
    background-color: #CCEEFF;
    text-decoration: none;
    color:#E41525;
    font-weight: 700;
}
  
 .navbar{
    margin-top: 1rem;
    display: flex;
    flex-flow: row wrap;      
 }
 .navbar ul{
  /* padding-inline-start:  0; */ 
   padding-left:0;
 }
 .navbar li{
    list-style-type : none;
    position : relative;
    display:inline;
 }
 .navbar li:hover .menu2, 
 .navbar li:focus .menu2 {
    display : block;
}
 .menu2 {
    position : absolute;
    display : none;
    min-width : 130px;
    z-index : 3;
    background-color: white;
    padding : 2px;
    top : 25px;
    left : 8px;
    right : 45px;       
    font-size: 0.9rem;
}
.menu2 li{
    display: block;
    line-height: 1.5rem;
}
.menu2 a{
    font-size: 0.9rem;
    padding:0.2rem 0.3rem;
    margin-bottom: 0.4rem;
}
.menu3 {
    border-top: 1px solid #CCEEFF;
    border-right: 1px solid #CCEEFF;
    border-left: 1px solid #66bdFF;
    border-bottom: 1px solid #66bdFF;
    line-height: 1rem;
    font-weight: 500;
}
.menu3 li {
   display: inline;
}
.menu3 a{
    padding-right:  1.5rem;
}
.big{
  display: inline-block;
}
.small,.smalldistance{
  display: none;
}

.main {
    padding: 1rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
  }
  .main a:hover {
        background-color: #CCEEFF;
        text-decoration: none;
        color:#E41525;
        font-weight: 700;
  }
  .main a {
    margin-bottom:0.1rem;
    padding-bottom:0.1rem;
    border-bottom: 1px solid #3366CC;
    font-weight: 500;
}

.linkintern:hover {
      background-color: #CCEEFF;
      text-decoration: none;
      color:#E41525;
      font-weight: 700;
}
.linkintern {
  font-weight: 500;
}
.encadre {
  margin-bottom:1rem;
    border: 2px ridge #E41525;
    padding: 0 2%;
}
.encadrebleu {
    margin-bottom:1rem;
    border: 2px ridge #66BDFF;
    padding: 0 2%;
}
  .footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid #66bdFF;
    display: flex;
    justify-content: center;
  }
  
  .footer img {
    margin-left: 1px;
  }
  
  .footer a {
    /* display: flex; */
    padding-top: 5px;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
  }

/*  Different text and title styles*/
.sitetitle{
  font-size: 1.4em;
  background-color: ghostwhite;
  white-space:nowrap;
  
}
.title{
  font-size: 1.4em;
  /* background-color: yellow; */
}
.subtitle{
  font-size: 1.2em;
  /* background-color: #ffccaa; */
}
.subsubtitle{
  font-size: 1.1em;
  font-weight: 600;
  /* background-color: #aaccff; */
}
.blogtitle{
  font-size: 1.2em;
  /* background-color: yellow; */
}
.blogtext{
  font-size: 1em;
  margin-bottom: 0;
}
.bloginfos{
  font-size: 0.8em;
  background-color: #c8edff9e;
  margin-bottom: 1em;
}
.blogimage{
  max-width: 42%;
  padding:1%;
}
.blogimgtext{
  font-size: 0.9em;
}

/*  Responsive styles */
  @media (max-width: 600px) {
    .header a {
         padding:0.2rem;
         margin:0;
     }
     .menu3 li {
         display: block;
         line-height: 1.5rem;
      }
      .big{
        display: none;
       white-space:nowrap;
      }
      .small{
        display: block;
      }
      .smalldistance{
        display:block;
        line-height: 3rem;
      }
  }
  