.plan14 {
    width:100%;
    max-width: 600px;
    max-height: 400px;
}

.row{
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-wrap: wrap;
}
.column {
    flex: 50%;
    max-width: 47%;
    align-self: center;
    padding-right:3%;
}
.columnright{
    flex:50%;
    padding-left:2%;
}
.column1x {
    flex: 25%;
    min-width: 25%;
    align-self: center;
    padding-right:2%;
}
.colum3x{
    flex:73%;
}
.fondjauneplan{
    background-color: #eabe4247;
}

.swappy{
    position:relative;
    width:100%;
    max-width: 600px;
    height: 400px;
    padding-bottom: 1em;
}
.ibottom{  
    position:absolute;
      left:0;
      top:0;
      -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -o-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;
   }
.itop{  
    position:absolute;
      left:0;
      top:0;
      -webkit-transition: opacity 1s ease-in-out;
      -moz-transition: opacity 1s ease-in-out;
      -o-transition: opacity 1s ease-in-out;
      transition: opacity 1s ease-in-out;
}
/* .itop:hover{  opacity: 0;} */
@keyframes imagefade {
      0% {
      opacity:1;
    }
    45% {
    opacity:50;
    }
    55%{
    opacity:0;
    }
    100% {
    opacity:0;
    }
    }
    
    .itop {
    animation-name: imagefade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    animation-direction: alternate;
    }
    @media (max-width: 600px) {
        .swappy{height:150px;}
    }